.searchBar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 0.2rem solid #e2e3e4;
  }
  
  .logo {
    display: flex;
  }
  
  .logo i {
    padding: 0 1rem;
    display: flex;
    align-items: center;
  }
  
  .logo p {
    padding: 0 1rem;
    font-family: 'Rochester', cursive;
    font-weight: bolder;
    font-size: 1.8rem;
  }
  
  .searchInput {
    border: 1px solid #e2e3e4;
    align-items: center;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin-top: 2rem;
    display: flex;
    border-radius: 0.2rem;
    height: 2rem;
    text-align: center;
  }
  .searchInput i {
    color: #e2e3e4;
    padding: 0 0.3rem 0 5rem;
    text-align: center;
    align-items: center;
  }
  
  .searchInput input {
    border: none;
    color: #a7a9ac;
    background-color: #fafafa;
    outline: none;
  }
  
  .searchContent i {
    padding: 0 1rem;
    color: #c0c5cb;
    border: none;
    margin-top: 2rem;
  }
  